################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApplication1/.vs/ConsoleApplication1/v16/Browse.VC.opendb
/ConsoleApplication1/ConsoleApplication1/AC_000020.1[1000..2000].fa
/ConsoleApplication1/ConsoleApplication1/BC066124.1[1..2801].fa
